<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="create-blog content">
      <!-- action is the value where we want to send the request to -->
      <form action="/blogs" method="POST">
        <!-- To attach data to the body of the post request so we can access that on the server, we use 'name' attribute -->
        <label for="title">Blog title:</label>
        <input type="text" id="title" name="title" required />
        <label for="snippet">Blog snippet:</label>
        <input type="text" id="snippet" name="snippet" required />
        <label for="body">Blog body:</label>
        <textarea id="body" name="body" required></textarea>
        <button>Submit</button>
      </form>
    </div>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
